<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog Space</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="header">
      <a href="/blogs" class="title">Blogger</a>

      <a href="http://localhost:3000/blogs/show" class="btn">See blogs</a>
    </div>

    <div class="banner">
      <p class="heading">Publish your passions, your way</p>
      <p class="sub-heading">Create a unique and beautiful blog easily.</p>
      <div class="btnn2">
        <a href="http://localhost:3000/blogs/new" class="btn2"
          >CREATE YOUR BLOG</a
        >
      </div>
    </div>
  </body>
</html>
